.details{
   /* border: 1px solid black; */
   margin: 300px 300px 200px 200px !important;
   align-items: center;
   text-align: center;
    
}
.details-img{
    width: 250px;
    height: 350px;
}
@media only screen and (max-width: 600px) {
    .details {
      margin:160px 0px 0px 0px !important;
    }
  }
  