.header{
    margin: 40px 200px !important;
    /* border: 1px solid black */
}
.header h1, p{
    color: white;
}
.image-div{
    height: 400px;
    width: 200px;
   

}
.image-main-div{
    top: 280px
}
.button{
    border: 1px solid white;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    color: white;
    background-color:transparent;
    font-weight: bold;
    
}
.button:hover{
    background-color: #313415;
    border: transparent;
}
@media only screen and (max-width: 600px) {
    .header  {
        margin: 0px !important
    }
    .image-main-div{
        top: 0px
    }
    .image-div{
        height: 200px;
        width: 100px;
    }
    .image-sofa{
        height: 200px !important;
        width: 350px !important;
        /* margin-left: 10px */
    }
    .header h1, p{
        text-align: center
    }
    .button{
        border: 1px solid white;
        height: 30px;
        width: 150px;
        border-radius: 20px;
        color: white;
        background-color:transparent;
        font-weight: bold;
        text-align: center;
        margin-left: 40px;
        
    }
  }
  @media only screen and (max-width: 400px) {
    .header  {
        margin: 0px !important
    }
    .image-main-div{
        top: 0px
    }
    .image-div{
        height: 150px;
        width: 100px;
    }
    .image-sofa{
        height: 150px !important;
        width: 230px !important;
        /* margin-left: 10px */
    }
    .header h1, p{
        text-align: center
    }
    .button{
        border: 1px solid white;
        height: 30px;
        width: 100px;
        border-radius: 20px;
        color: white;
        background-color:transparent;
        font-weight: bold;
        text-align: center;
        margin-left: 40px;
        
    }
  }
  